.container {
    max-width: 1100px;
    margin: 0 auto;
    max-height: 100vh;
}

span {
    margin-right: 5px;
    cursor: pointer;
}

.chat_container {
    display: flex;
    justify-content: space-between;
}

.container h2 {
    text-align: center;
}

.chat {
    width: 500px;
    height: 500px;
    overflow: scroll;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-right: 50px;
    background-color: #bdd9b4;
    padding: 5px;
}

.chat_f {
    width: 500px;
    height: 500px;
    overflow: scroll;
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: #53bad9;
    padding: 5px;
}

.message {
    display: flex;
    max-width: 400px;
    justify-content: space-between;
}

.message textarea {
    width: 300px;
    height: 100px;
    resize: both;
}

.sticker {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.sticker_m {
    width: 100px;
    height: 100px;
}

.sticker:hover {
    background-color: #d8d8de;
}

.stickers {
    max-width: 600px;
    height: 500px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid darkblue;
}